<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Summarizer</title>
    <link rel="stylesheet" href="index.css">
</head>
<body class="bg">
    <nav>
        <ul>
            <img src="{{ url_for('static', filename='img/news_logo.jpg') }}" alt="Default News Pic">
            <li><a href="/news_feed/1">News</a></li>
            <li><a href="/home">Summarizer</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="main">  	
            <input type="checkbox" id="chk" aria-hidden="true">
                <div class="login">
                    <form class="form">
                        <label for="chk" aria-hidden="true" style="color: #212221;">Text Summarizer</label>
                        <textarea id="input-text" class="input" style=" height: 500%;" placeholder="Enter your text here..."></textarea>
                        <div class="form1">
                            <div  class="rectangle">
                                <label for="chk" aria-hidden="true" onclick="summarize()" style="font-size: 30px; height: 100%; width: 100%; padding-top: 12px;">Summarize</label>
                            </div>
                        </div>
                    </form>
                </div>

            <div class="register">
                <form class="form1">
                    <label for="chk" aria-hidden="true">Summary</label>
                    <textarea id="output-text" class="input" style="height: 250px;" placeholder="Your summary will appear here..." readonly></textarea>
                    <div class="form1">
                        <div  class="rectangle">
                            <label for="chk" aria-hidden="true" style="font-size: 30px; height: 100%; width: 100%; padding-top: 18px; color: #fff;">Go Back</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function summarize() 
        {
            var input_text = document.getElementById("input-text").value;
            var output_text = document.getElementById("output-text");
            
            // Check if the input text is empty
            if (input_text.trim() == "") {
                output_text.innerHTML = "Please enter some text to summarize.";
                return;
            }
            
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/RD', true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Parse JSON response from Flask
                    var data = JSON.parse(xhr.responseText);
                    // Set the innerHTML of the outputText element to the processed data
                    output_text.innerHTML = data.data;
                }
            };
            // Send JSON data to Flask
            xhr.send(JSON.stringify(input_text));
        }
    </script>
</body>
</html>
