<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsInBytes</title>
    <link rel="stylesheet" href="news_feed.css">
</head>
<body>
    <nav>
        <ul>
            <img src="{{ url_for('static', filename='img/news_logo.jpg') }}" alt="Default News Pic">
            <li><a href="/news_feed/1">News</a></li>
            <li><a href="/home">Summarizer</a></li>
        </ul>
    </nav>
    
    {% for new in news %}
    <div class="News">
        <div class="Headlines">
            <h1>{{new['title']}}</h1>
        </div>
    
        <div class="Content">
            <p>{{new['summary']}}</p>
        </div>
        
        <div class="images">
            <img src="{{ new['img_url']}}" alt="Default News Pic">
        </div>
    </div>
    {% endfor %}

    <div class="button-container center">
        {% if page_num > 1 %}
        <button class="navbutton"><a href="{{ url_for('news_feed', page_num=page_num-1) }}">Previous</a></button>
        {% endif %}
        {% if news|length >= POSTS_PER_PAGE %}
        <button class="navbutton"><a href="{{ url_for('news_feed', page_num=page_num+1) }}">Next</a></button>
        {% endif %}
    </div>
</body>
</html>
